/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body * {
    position: relative;
    box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: url("../images/bgtile.png");
  background-repeat: repeat-x;
}

p {
  color: #1c5380;
  text-align: left;
}

strong {
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-transform: uppercase;
  color: #1c5380;
  display: inline-block;
  padding: 5px;
  font-size: small;

}

button {
  color: white;
  background-color: #1c5380;
  border: 0.5px solid #06365f;
  border-radius: 10%;
  position: absolute;
  bottom: 72%;
  right: 20.5%;
}

ul li {
  float: left;
  clear: none;
}

h2 {
    margin-top: 12px;
    margin-bottom: auto;
}

nav {
    position: absolute;
    top: 98%;
    left: 25%;
}

.store-links {
    float: right;
    clear: both;
    right: 30%;
    position: absolute;
    top: 85.5%;
}

.main {
  background: url("../images/frame.png");
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
  float: right;
  max-width: 500px;
  text-align: left;
  font-size: 12px;
  padding: 20px;
  position: absolute;
  right: 20%;
  top: 32%;
}

.main h2 {
  color: #06365f;
  text-align: left;
  font-size: 27px;
  padding: 0 175px 0 0;
}

[alt = Instagram] {
    float: right;
    clear: both;
    position: absolute;
    right: 33.5%;
    bottom: 70%;
}

[alt = phones] {
  float: left;
  clear: both;
  position: absolute;
  left: 15%;
  top: 16%;
}

a img {
    margin-right: 15px;
}
